html, body{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	left:0;
	right: 0;
	top: 0;
	bottom: 0;
	color: black;
	font-family: Helvetica, Arial, sans-serif;	
}

.page{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #e9ebee;
}

.top-panel{
	height: 42px;
	width: 100%;
	background-color: #4267b2;
	position: fixed;
	z-index: 10;
	
}

.top-panel-wrapper{
	height: 42px;	
	padding-right: 206px;
}

.top-panel-wrapper__content{
	margin: 0 auto;
	height: 42px;
	width: 1008px;
	position: relative;
}

.top-panel-wrapper__content-logo-search{
	position: relative;
	display: block;
	width: calc( 1008px - 308px );
	height: 42px;
}

.fb-icon{
	float: left;	
	position: relative;
	display: block;
	margin: 7px 5px 7px 0;
}

.fb-icon img{
	margin: 2px;
	width: 24px;
	height: 24px;
}

.search-bar{	
	float: left;
	display: block;
	width: calc( 1008px - 308px - 32px - 1px );
}

.search-bar-wrapper{
	margin-top: 0;
	margin-left: 0;
	padding-left: 5px;
	padding-right: 46px;
	height: 26px;
	width: auto;
	min-width: 150px;
	max-width: 450px;
	background-color: #fff;
	border: 1px solid #3b5998;
	border-radius: 3px;
	box-sizing: border-box;
	overflow: hidden;
	position: relative;
	top: 8px;
}

.search-bar__input{
	position: relative;
	display: block;
	height: 24px;	
	cursor: text;
	overflow: hidden;
	padding: 0;
	border: none;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	text-indent: 5px;
	color: #333;
	
}

.search-bar__button{
	position: absolute;
	display: block;
	height: 24px;
	padding: 0 15px;
	border: none;
	border-radius: 0 2px 2px 0;
	cursor: pointer;
	right: 0;
	top: 0;
	bottom: 0;
	background: #f6f7f9;
}

.icons{
	border-radius: 3px
}

.social{
	position: absolute;
	display: block;
	width: 308px;
	height: 42px;
	top: 0px;
	right: 0;
}

.profile-picture{
	float: left;
	display: block;
	position: relative;
	border-radius: 50%;	
}

.top-panel__profile-picture{
	width: 24px;
	height: 24px;
	margin-top: 1px;
}

.social-icons{
	float: left;
	margin-top: 1px;
	border-radius: 3px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 4px;
	position: relative;
	vertical-align: middle;
}

.profile-name{
	font-size: 16px;
	display: inline;
	color: white;
}

.top-panel__labels{
	float: left; 
	color: white;
  display: inline-block;
	box-sizing: border-box;
	margin: 0 auto;
	padding-left: 5px; 
  font-size: 12px;
	font-weight: bold;
	text-align: center;		
  height: 28px;
  line-height: 28px;
	text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
	white-space: nowrap;
}

.profile{
	width: 100%;
  display: inline-block;
}

.block-data{
	float: left;
	display: block;
	position: relative;
	height: 42px;
	padding: 0 8px 0 8px;
}

.social__profile-navigation{
	position: relative;;
	padding-left: 0;
	width: 120px;	
}

.social__profile-navigation_profile-name{
	position: relative;
	display: block;
	float: left;
	height: 43px;
	width: 65px;
	margin: 0;
	padding: 0;
}

.social__profile-navigation_profile-name-wrapper{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 42px;
}

.social__profile-navigation_profile-name-info{
	position: relative;
	display: block;
	height: 28px;
	margin: 7px 0 7px 0;
	border-right: 1px solid rgba(0, 0, 0, .1);	
}

.social__profile-navigation_home-label{
	position: relative;
	display: block;
	float: left;
	height: 28px;
	width: calc( 120px - 65px );
	margin: 7px 0 7px 0;
}

.social__profile-navigation_home-label-wrapper{
	padding-left: 10px 		
}

.social__profile-connections{
	position: relative;;
	width: 100px;
}

.social__profile-connections-wrapper{
	display: block;
	position: relative;
	height: 28px;
	width: 108px;
	margin: 7px 0 7px 0;
	border-right: 1px solid rgba(0, 0, 0, .1);		
}

.social__profile-quick-help{
	position: relative;;
	width: calc( 308px - 120px - 8px - 100px - 8px - 8px - 8px );
	padding-right: 0;
}

.social__profile-quick-help-wrapper{
	display: block;
	position: relative;
	height: 28px;
	width: 100%;
	margin: 7px 0 7px 0;
}

.social-icons__tirangle{
	padding-right: 0;
}

.side-menu{
	position: relative;
	width: 180px;
	display: block;
}

.side-menu-wrapper{
	width:180px;
	padding-top: 12px;
	position: fixed;
	background: #ccc;
	float: left;
}

.side-menu__profile{
	height: 28px;
}

.side-menu-wrapper img{
	float: left;
	display: inline;
	padding-top: 4px;
	padding-bottom: 4px;
}

.side-menu-wrapper p{
	display: table-cell;
	text-align: center;	
	vertical-align: middle;
	margin: 0;
	padding-left: 5px;
	line-height: 28px;	
	font-size: 13px;
}

.side-menu-wrapper a{
	color: black;
	font-size: 13px;
}

.side-menu-wrapper h4{
	margin: 0;
	line-height: 17px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #626673;
}

.side-menu__profile-picture{
	width: 20px;
	height: 20px;
}

.side-menu__image-text-bundle{
	width: 100%;
  display: inline-block;
}

.main-content{
	border-left: 0;
}

.page-chat{
	top: 43px;
	height: 100%;
	width: 206px;
	background: red;
	display: block;
	position: fixed !important;
	right: 0;
}

.page-wrapper{
	padding-top: 43px;
	padding-right: 206px;	
	height: 100%;
}

.page-main{
	height: 100%;
	margin: 0 auto;
	width: 1008px !important;
	display: block;
}

.page-holder{
	display: block;
	position: relative;
	margin-top: 12px;
}

.scrollable-content{
	position: absolute;
	left: 180px;
	top: 0;	
	width: 828px;
}

.commercials{
	width: 308px;
	float: left;
	display: block;	
}

.commercials-wrapper{
	width: 308px;
	height: 1200px;
	background: #234;
}

.timeline{
	width: 500px;
	height: 3000px;
	float: left;
	margin: 0 10px;
}

.post-composer{
	position: relative;
	display: block;
	width: 500px;
	height: 155px;
	border: 1px solid #dddfe2;
	border-radius: 4px;
	top: 0;
	margin-bottom: 10px;
}

.post-composer__top-bar{
	display: block;
	position: relative;
	padding: 8px 0;
	width: 100%;
	height: 16px;
	border-radius: 2px 2px 0 0;
	font-weight: bold;
	font-size: 14px;
	background-color: #f6f7f9;
	border-bottom: 1px solid #dddfe2;
}

.post-composer__body{
	display: block;
	position: relative;
	width: 100%;
	height: calc( 155px - 33px );
	margin: 0;
	padding: 0;
	border-radius: 0 0 3px 3px;
	background-color: white; 
}

.post-composer__body-top{
	display: block;
	position: relative;
	width: 100%;
	height: 72px;
	margin: 0;
	padding: 0;
}

.post-composer__body_profile-picture-holder{
	float: left;
	display: block;
	position: relative;
	width: 40px;
	height: 40px;
	margin: 12px 0 0 12px;	
}

.post-composer__body_profile-picture{
	display: block;
	position: relative;
	width: 40px;
	height: 40px;
	border: 1px solid rgba(0, 0, 0, .1);
}

.fix-commercials-wrapper{
	position: fixed;
	top: calc( 100% - 1200px );
}

.post-composer__body-top__input{
	float: left;
	display: block;
	position: relative;
	height: 100%;
	width: calc( 500px - 40px - 12px );
	right: 0;
}

.post-composer__body-top__input-wrapper{
	font-size: 14px;
	height: calc( 72px - 23px - 12px);
	line-height: 18px;
	padding: 23px 12px 12px 12px;
	color: #afb2b8;
	cursor: text;
}

.post-composer__body-bottom{
	display: block;
	position: relative;
	width: 100%;
	height: calc( 155px - 33px - 72px );
}

.post-composer__body-bottom-wrapper{
	display: block;
	position: relative;
	margin: 0 auto;
	padding: 8px 0;
	height: calc( 155px - 33px - 72px - 8px - 8px);
	width: calc( 500px - 12px - 12px );
	border-top: 1px solid rgba(0, 0, 0, .1);
}

.post-composer__body-bottom_photos-input{
	display: inline-block;
	position: relative;
	height: 34px;
	width: 120px;
	margin-right: 6px;
}

.post-composer__body-bottom_feelings-input{
	display: inline-block;
	position: relative;
	height: 34px;
	width: 140px;
	margin-right: 6px;
}

.post-composer__body-bottom_else-input{
	display: inline-block;
	position: relative;
	height: 34px;
	width: 44px;
	margin-right: 6px;
}

.post-composer__body-bottom_elem{
	display: block;
	position: relative;
	height: 100%;
	width: 100%;
}

.post-composer__body-bottom_button-content{
	display: block;
	position: absolute;
	height: 100%;
	width: calc( 100% - 6px - 6px - 10px );
	top: 0;
	left: 10px;
}

.post-composer__body-bottom_button{
	position: absolute;
	display: block;
	height: 34px;
	width: 100%;
	border-radius: 18px;
	border: none;
	cursor: pointer;
	top: 0;
	bottom: 0;
	background: #f6f7f9;
}

.post-composer__body-bottom_button-img{
	display: inline-block;
	position: relative;
	height: 20px;
	width: 20px;
	top: calc( (34px - 20px) / 2 - 1px );
}

.post-composer__body-bottom_button-text{
	display: inline-block;
	height: 34px;
	line-height: 34px;
	box-sizing: border-box;
  color: #4b4f56;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
	font-size: 12px; 
}

.timeline-posts{
	display: block;
	position: relative;
	width: 500px;
	height: 100%;
}

.post-body{
	display: block;
	position: relative;
	width: 500px;
	margin: 0 0 10px 0;
	padding: 0;
	border-radius: 3px;
	border: 1px solid rgba(0, 0, 0, .1);	
	background-color: white;
}

.post-body-content{
	display: block;
	position: relative;
	padding: 12px 12px 0 12px;
	width: calc( 500px - 12px - 12px );
}

.post-body__options-button{
	display: block;
	position: absolute;
	width: 100%;
}

.post-body__options-button-img{
	float: right;
	display: block;
	position: relative;
	width: 20px;
	height: 20px;
	margin: 10px 7px 0 0;	
}

.post-body-content__owner-info{
	display: block;
	position: relative;
	width: 100%;
	height: 45px;
}

.post-body-content__main-content{
	display: block;
	position: relative;
	width: 100%;
	padding: 0 0 12px 0;
	margin-left: -1px; 
	border-bottom: 1px solid rgba(0, 0, 0, .1);		
}

.post-body-content__main-content_data{

}

.post-body-content__main-content_data-wrapper{
	display: block;
	position: relative;
	width: 100%;
	border: 1px solid rgba(0, 0, 0, .1);
}

.post-body-content__main-content_data-wrapper-follow{
	display: block;
	position: relative;
	height: 45px;
	width: calc( 100% - 12px - 12px );
	padding: 10px 12px;
	border-top: none;
}

.post-body-content__main-content_data-wrapper-follow-title{
	float: left;
	display: block;
	position: relative;
	height: calc( 100% - 8px );
	width: calc( 100% - 76px - 12px - 4px );
	padding-top: 8px;
}

.post-body-content__main-content_data-wrapper-follow-title-main{
	display: block;
	position: relative;
	height: 18px;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
  font-size: 14px;
  font-weight: bold;
}

.post-body-content__main-content_data-wrapper-follow-title-additional{
	display: block;
	position: relative;
	height: 16px;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	color: #90949c;
	font-size: 12px;
}

.post-body-content__main-content_data-wrapper-follow-button{
	float: left;
	display: block;
	position: relative;
	height: calc( 100% - 12px );
	width: 76px;
	padding: 12px 4px 0 12px;
}

.post-body__main-content_follow-button-wrapper{
	display: block;
	position: relative;
	top: 0;
}

.post-body__main-content_follow-button-body{
	position: absolute;
	display: block;
	height: 28px;
	width: 100%;
	border: 1px solid rgba(0, 0, 0, .1);
	cursor: pointer;
	top: 0;
	bottom: 0;
	background: #f6f7f9;
	padding: 0;
}

.post-body__main-content_follow-button-body-content{
	display: block;
	position: absolute;
	height: 100%;
	width: calc( 100% - 10px - 10px );
	padding: 0 10px;
	top: 0;
}

.post-body__main-content_follow-button-body-img{
	display: inline-block;
	position: relative;
	height: 12px;
	width: 12px;
	top: 2px;
}

.post-body__main-content_follow-button-body-text{
	display: inline-block;
	height: 28px;
	line-height: 28px;
	box-sizing: border-box;
  color: #4b4f56;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
	font-size: 12px; 
}

.post-body-content__main-content_data-views-number{
	display: block;
	position: relative;
	width: 100%;
	height: 16px;
	margin: 8px 0;
}

.post-body-content__main-content_data-views-number-wrapper{
	display: block;
	position: relative;
	font-size: 12px;
	color: #90949c;
}

.post-body-content__owner-info_owner-picture{
	float: left;
	display: inline-block;
	position: relative;
	height: 45px;
	width: 45px; 
	vertical-align: middle;
}

.post-body-content__owner-info_owner-picture-img{
	height: 43px;
	width: 43px;
	border-radius: 50%;
}

.post-body-content__owner-text{
	float: left;
	display: inline-block;
	position: relative;
	height: 38px;
	width: calc( 100% - 45px ); 
	margin: 0;
	vertical-align: middle;
}

.post-body-content__owner-info_owner-name{
	display: block;
	position: relative;
	height: 19px;
	width: 100%; 
	margin: 3px 0 2px 0;
}

.post-body-content__owner-info_owner-name-wrapper{
	font-size: 14px;
	font-weight: 600;
	color: #365899;
	cursor: pointer;
}

.post-body-content__owner-info_posting-time{
	display: block;
	position: relative;
	height: 17px;
	width: 100%; 
	margin: 0;
}

.post-body-content__owner-info_posting-time-text{
	float: left;
	display: block;
	position: relative;
	height: 100%;
	font-size: 12px;
	color: #90949c;
}

.post-body-content__owner-info_posting-visibility{
	float: left;
	display: block;
	position: relative;
	height: 100%;
}

.post-body-content__owner-info_posting-visibility-img{
	display: block;
	position: relative;
	width: 12px;
	height: 12px;
	margin-left: 5px;
	margin-top: 1px; 
}

.post-body-bottom{
	display: block;
	position: relative;
	width: 100%;
	height: 64px;
	padding-bottom: 4px;
}

.post-body-bottom__likes-info{
	display: block;
	position: relative;
	height: 20px;
	width: calc( 100% - 12px - 12px );
	margin: 10px 12px 0 12px;
	padding-bottom: 6px;
	border-bottom: 1px solid rgba(0, 0, 0, .1);		
}

.post-body-bottom__likes-info-wrapper{
	display: block;
	position: relative;
	height: 100%;
	width: 100%;
}

.post-body-bottom__likes-info-wrapper_emotion-icons{
	float: left;
	display: block;
	position: relative;
	height: 100%;
	width: calc( 100%/2 );
}

.post-body-bottom__likes-info-wrapper_emotion-icons-block{
	float: left;
	display: block;
	position: relative;
	width: auto;
}

.post-body-bottom__statistics-text{
	display: block;
	position: relative;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 14px;
	color: #90949c;
	margin: 2px 1px;
}

.post-body-bottom__likes-info-wrapper_emotion-icons-block img{
	float: left;
	display: block;
	position: relative;
	width: 16px;
	height: 16px;
	background: #fff;
  border-radius: 10px;
  line-height: 16px;
  margin: 0 0 0 -4px;
  padding: 2px;
}

.post__like-emoji-icon{
	margin: 0;
	z-index: 6;
}

.post__love-emoji-icon{
	z-index: 5;
}

.post__laugh-emoji-icon{
	z-index: 4;
}

.post__shock-emoji-icon{
	z-index: 3;
}

.post__angry-emoji-icon{
	z-index: 2;
}

.post__sad-emoji-icon{
	z-index: 1;
}

.post-body-bottom__likes-info-wrapper_post-statistics{
	float: right;
	display: block;
	position: relative;
	height: 100%;
	width: calc( 100% - 100%/2 );
}

.post-body-bottom__likes-info-wrapper_post-statistics-comment{
	float: right;
	display: block;
	position: relative;
	margin-right: 5px;
	margin-left: 5px; 
}

.post-body-bottom__likes-info-wrapper_post-statistics-share{
	float: right;
	display: block;
	position: relative;
	margin-right: 5px;
}

.post-body-bottom__action-buttons{
	display: block;
	position: relative;
	margin: 0 12px;
	padding: 4px 0;
	height: 32px;
	width: calc( 100% - 12px - 12px );
}

.post-body-bottom__action-buttons_actions-block{
	float: left;
	display: block;
	position: relative;
	height: 100%;
	width: calc( 100% - 32px - 3px ); 
}

.post-body-bottom__action-buttons_actions-block-wrapper{
	float: left;
	display: block;
	position: relative;
	height: 100%;
	width: calc( 100% / 3 );
}

.post-body-bottom__action-buttons_actions-block-button-body{
	position: absolute;
	display: block;
	height: 100%;
	width: 100%;
	cursor: pointer;
	top: 0;
	bottom: 0;
	background: white;
	border: none;
	padding: 0;
}

.post-body-bottom__action-buttons_actions-block-button-body-content{
	display: block;
	position: absolute;
	align-items: center;
	height: 100%;
	width: calc( 100% - 10px - 10px );
	padding: 0 10px;
	top: 0;
}

.post-body-bottom__action-buttons_actions-block-button-body-img{
	display: inline-block;
	position: relative;
	height: 20px;
	width: 20px;
	top: 5px;
}

.post-body-bottom__action-buttons_actions-block-button-body-text{
	display: inline-block;
	height: 28px;
	line-height: 28px;
	box-sizing: border-box;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
	color: #616770;
  font-size: 13px; 
}

.post-body-bottom__action-buttons_user-block{
	float: left;
	display: block;
	position: relative;
	padding-left: 3px;
	height: 100%;
	width: 32px; 
}

.post-body-bottom__action-buttons_user-block-wrapper{
	display: block;
	position: relative;
	width: 100%;
	height: calc( 100% - 8px - 8px );
	margin: 8px 0;
}

.post-body-bottom__action-buttons_user-block-profile-picture{
	float: left;
	display: block;
	position: relative;
	width: 16px;
	height: 16px;
}

.post-body-bottom__action-buttons_user-block-triangle-picture{
	float: left;
	display: block;
	position: relative;
	width: 10px;
	height: 10px;
	margin: 3px;
}

.post-body-content__main-content_data-wrapper-content img{
	display: block;
	position: relative;
	width: 100%;	
}

@media screen and (max-width: 1238px){
	.page-chat{
		display: none;
	}
	.page-main{
		padding-right: 0;
	}
	.page-wrapper{
		padding-right: 0;
	}
	.top-panel-wrapper{
		padding-right: 0;		
	}
}


@media screen and (max-width: 1008px){
	.side-menu-wrapper{
		position: relative;;
	}
	.commercials-wrapper{
		position: relative;;
	}
}

