html, body{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	left:0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #dee3ea;
	color: black;
	overflow-y: scroll;	
}

.top-panel{
	float: left;
	height: 42px;
	width: 100%;
	background-color: #4267b2;
	position: fixed;
	z-index: 10;
}

.fb-icon{
	float: left;
	display:inline-block;
	margin-left: 15%;
	margin-top: 10px;
}

.search-bar{	
	float: left;
	display:inline-block;
	margin-left: 5px;
}

.icons{
	border-radius: 3px
}

.social{
	display: inline;
	margin-left: 10%;
	float: left;
	margin-top: 10px
}

.profile-picture{
	float: left;
	border-radius: 50%;	
	display: inline;
}

.top-panel__profile-picture{
	width: 24px;
	height: 24px;
}

.social-icons{
	float: left;
	border-radius: 3px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 4px;
	position: relative;
	vertical-align: middle;
}

.profile-name{
	font-size: 16px;
	display: inline;
	color: white;
}

.top-panel__labels{
	float: left; 
	color: white;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  height: 27px;
  line-height: 28px;
  padding: 0 10px 1px;
  text-decoration: none;
}

.profile{
	width: 100%;
  display: inline-block;
}

.block-data{
	float: left;
	display: inline-block;
}

.side-menu{
	position: relative;
	width: 180px;
	display: block;
}

.side-menu-wrapper{
	top: 43px;
	width:180px;
	padding-top: 12px;
	position: fixed;
	background: #ccc;
	float: left;
}

.side-menu__profile{
	height: 28px;
}

.side-menu-wrapper img{
	float: left;
	display: inline;
	padding-top: 4px;
	padding-bottom: 4px;
}

.side-menu-wrapper p{
	display: table-cell;
	text-align: center;	
	vertical-align: middle;
	margin: 0;
	padding-left: 5px;
	line-height: 28px;	
	font-size: 13px;
}

.side-menu-wrapper a{
	color: black;
	font-size: 13px;
}

.side-menu-wrapper h4{
	margin: 0;
	line-height: 17px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #626673;
}

.side-menu__profile-picture{
	width: 20px;
	height: 20px;
}

.side-menu__image-text-bundle{
	width: 100%;
  display: inline-block;
}

.main-content{
	border-left: 0;
}

.page-chat{
	top: 43px;
	height: 100%;
	width: 206px;
	background: red;
	display: block;
	position: fixed !important;
	right: 0;
}

.page-wrapper{
	padding-top: 43px;
	height: 100%;
}

.page-main{
	height: 100%;
	margin: 0 auto;
	padding-right: 206px;
	width: 1008px !important;
	background: blue;
	display: block;
}

.page-holder{
	display: block;
	position: relative;
}

.scrollable-content{
	position: absolute;
	left: 180px;
	top: 0;	
	width: 828px;
}

.commercials{
	width: 308px;
	float: left;
	display: block;	
}

.commercials-wrapper{
	position: fixed;
	width: 308px;
	height: 600px;
	background: #234;
}

.timeline{
	width: 500px;
	background: #333;
	height: 3000px;
	float: left;
	margin: 0 10px;
}

#ProfileConnections{
	margin-left: 15px;
}

#AdditionalInfo{
	margin-left: 20px;
}

#SearchField{
	height: 24px;
	width: 350px;
	color: #333;
	cursor: text;
	overflow: hidden;
	padding: 0;
	border: 0;
	text-indent: 5px;
	float: left
}

#SearchButton{
	height: 24px;
	border: 0;
	justify-content: center;
	padding: 0 15px;
	text-align: center;
	text-shadow: none;
	vertical-align: middle;
}

#SearchIcon{
	height: 16px; 
	width: 16px
}

#ProfileName{
	border: 0;
	margin-top: 0;
}


@media screen and (max-width: 1238px){
	.page-chat{
		display: none;
	}
	.page-main{
		width: 100%;
		padding-right: 0;
	}
}
