.toppanel{
	height: 50px;
	width: 100%;
	background-color: #003399;
}

.fb-icon{
	display:inline-block;
	margin-left: 5%;
	float: left;
	margin-top: 10px;
}


.search-input{
	width: 400px;
	height: 25px;
	float: left;
}

.search-bar{	
	float: left;
	display:inline-block;
	margin-left: 5px;
}

.icons{
	width:30px;
	height: 30px;
	border-radius: 3px
}


.social{
	display: inline;
	margin-left: 40px;
	float: left;
	margin-top: 10px
}

.profile-picture{
	height: 30px;
	width: 30px;
	display: inline;
}

.social-icons{
	float: left;
	width:30px;
	height: 30px;
	border-radius: 3px;
	margin-left: 25px;
}

.profile-name{
	font-size: 16px;
	display: inline;
	color: white;
}

#SearchIcon{
	height: 22px; 
	width: 21px
}

#HomeLabel{
	float: left; 
	margin-left: 130px;
	color: white;
}